.ticketSelectList {

}

.ticketSelectToggle {
	display: none;
}

@media screen and (width < 800px) {
    .ticketSelectToggle{
        display: block;
    }

    .ticketSelectList{
        display: none;
    }
}
